form{
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 218, 211);
}

input,textarea{
  border: none;
  border-bottom: 1px;
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
}
input::placeholder,textarea::placeholder{
  font-size: 12px;
  color: rgb(174, 174, 174);
}

.button{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  z-index:"1";
   position:"relative";
  cursor: pointer;
}